<%- include('partials/header') -%>
<div class="topnav">
    <a href="http://localhost:8080/login?username=&password=">Login</a>
    <a href="http://localhost:8080/staffs">Staffs</a>
    <a href="http://localhost:8080/order">Order</a>
    <a href="http://localhost:8080/payment?dssp=">Payment</a>
    <a href="http://localhost:8080/products">Products</a>
    <a href="http://localhost:8080/" style="float:right">Home</a>
  </div>
